@media only screen  and (max-width : 992px) {
	.menu {
	    padding: 9px 5px;
	    font-size: 0.75em;
	    line-height: normal; 
	    letter-spacing: normal;
	}
	.navMenu__item:not(:nth-last-child(1)) {
	    padding-right: 10px;
	}

	.navigation__logotype {
    	padding-right: 15px;
	}

	.navigation__placeholder {
    	padding-left: 10px;
	}
/*-----------------FIRST SCREEN-------------------------*/
	.img {
	    padding-top: 40px;
	    padding-bottom: 14px;
	}

	.lable__name {
	    font-size: 1em;
	    line-height: normal;
	}
 
	.lable__text {
	    font-size: 0.75em;
	    line-height: normal;
	}   
/*----------------------------------------------------------*/
	.services {
		margin-top: 40px;
		text-align: center;
	}
	
	.services__img {
		padding-bottom: 10px;
	}
	.services .wrap {
		grid-template-columns: auto;
	    padding-bottom: 0px;
	    justify-content: center;
	}

	.main {
	    text-align: center;
	}

	.main__name {
	    font-size: 1em;
	    line-height: normal;
	    letter-spacing: normal;
	    padding-bottom: 10px;
	}

	.services .wrap .main .main__text {
	    font-size: 0.75em;
	    line-height: normal;
	    padding-bottom: 17px;
	}

	.services .wrap .main .main__button {
	    padding: 6px 16px;
	    font-size: 10px;
	    line-height: normal; 
	}

	.services .wrap .main .main__info {
    font-size: 0.75em;
	}

	.services .wrap .slideshow > .slide .slide__navigation .slide__next,
	 .services .wrap .slideshow > .slide .slide__navigation .slide__prev {
    font-size: 0.75em;
	}

	.services .wrap .slideshow > .slide .slide__img {
    width: 200px;
    height: 120px;
    padding-top: 20px;
	}

	.services .wrap .slideshow > .slide .slide__navigation .slide__next img,
	.services .wrap .slideshow > .slide .slide__navigation .slide__prev img {
	    width: 22px;
	    height: 8px;
	}

	 .airtrans {
	    grid-template-columns: auto auto;
	}

	 .airtrans .airtrans__point .airtrans__img {
	    padding-bottom: 13px;
	}

	 .airtrans .airtrans__point {
	    padding: 18px 14px 11px 14px;
	    font-size: 0.75em;
	}

	 .services__name {
	    font-size: 1em;
	    line-height: normal;
	    padding-bottom: 20px;
	}
/*--------------------------------------------------------------------*/
	.aboutCompany__text {
	    font-size: 0.75em;
	 	line-height: normal;
	}

	.cardCompany {
	    padding-top: 20px;

	    .card {
	    	.card__title {
			    font-size: 2em;
			    line-height: normal; 
			}
			.card__text {
			    font-size: 0.825em;
			    line-height: normal;
			}
			.card__minText {
			    font-size: 0.75em;
			    line-height: normal;
			}
	    }
	}
/*----------------------------------------------------------------------*/
	#video {
		width: 100%;
		height: 240px;
	}
/*------------------------------------------------------------------*/
	.map__frame{
	    height: 250px;
	}
/*----------------------------FOOTER--------------------------------------*/
	.footer {
	    padding: 20px 0px;
	    flex-direction: column;
	    align-items: flex-start;
	    align-content: none; 
	    padding: 8px 8px; 
	     letter-spacing: normal;
	 }

	.footer__info span {
	    padding-top: 10px;
	}

	.footer__info-display {
		display: none;
	}
}