@import "variables";
@import "mixins";

* {
	font-family: Roboto, sans-serif;
	text-decoration: none;
	color: $textColor;
}

body {
	background-color: $bgColorBody;
	margin: 0px;
	font-size: $fontSize;
}

header, section, footer, {
	padding: 0px calc(50% - 555px);
}

/*-------Header-------*/
header, footer{
	background-color: $mainColorGold;
}

.header__contacts {padding: 16px 5px;}
.contacts {
	display: flex;
	justify-content: space-between;	
	@include font-size-info(0.75em, 14px);}

.language__link:nth-last-child(2n) {
	padding: 0px 10px;}

.language__link {
	&:link {
		color: rgba(250,250,250,0.5);}

	&:hover, &:active {
		color: $textColor;}
}

/*--------Menu---------*/
.menu {
	max-width: 1100px;
	margin: 0 auto;
	padding: 27px 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	@include font-size-info(0.875em, 16px);
	letter-spacing: $letterSpacing;}

.navigation {
	display: flex;
	align-items: center;}

.navigation__logotype {
	padding-right:30px;
	border-right: 1px solid #f2f2f2;}

.navigation__placeholder {
	padding-left: 30px;}	

.navMenu__list{
	padding: 0px;}

.navMenu__item {
	display: inline-block;}

.navMenu__item:not(:nth-last-child(1)) {
	padding-right: 30px;}


/*--------First-screen--------*/
.first-screen {
	background-image: url("../img/Rectangle.png");
	background-size: cover;}

.first-screen__lable {
	padding: 13.965% 8.559% 19.82% 8.559%;}

.lable {
	text-align: center;}

.lable__info {
	padding: 4.893% 7.827%;
	border: 1px solid $mainColorGold;}

.lable__name {
	font-weight: bold;
	@include font-size-info (4em, 75px);
	text-transform: uppercase;
	padding-bottom: 29px;}

.lable__text {
	@include font-size-info (1.125em, 26px);}

/*--------Services----------*/
.services  {
	//margin-top: 15.248%;
	margin-top: 120px;}

.services__img {	
	padding-bottom: 40px;
}

.wrap {
	display: grid;
	grid-template-columns: 40% 55%;
	justify-content: space-between;}
		
.main__name {
@include fontName;
padding-bottom: 30px;
}

.main__text {
@include font-size-info (1.125em, 28px);
padding-bottom: 50px;
}

.main__button {
cursor: pointer;
background: $mainColorGold;
padding: 18px 48px;
@include font-size-info ($fontSize, 25px);
letter-spacing: 0.1em;
text-transform: uppercase;
}

.main__info{
	padding-top: 30px;
	display: none;
}
		
.slide{
	display: flex;
	animation-name: fade;
	animation-duration: 1.5s;}

.slide:not(:nth-child(1)) {
	display: none;
}

.slide__img {
	width: 400px;
	height: 250px;
}

.slide__navigation {
	display: grid;
	align-content: space-between;}
				
.slide__prev, .slide__next { 
	cursor: pointer;
	padding: 16px;
	transition: 0.6s ease;
	border-radius: 5px;
	user-select: none;
	color: $mainColorGold;
	text-transform: uppercase;}
				
.slide__prev:hover, .slide__next:hover{
    background-color: rgba(0,0,0,0.8);
}

.slide__prev>img, .slide__next>img {
	width: 67px;
	height: 24px;
}

			@keyframes fade {
			  from {opacity: .4} 
			  to {opacity: 1}
			}

/*-------All-Services-------*/
	.services__name {
		@include fontName;
		padding-bottom: 60px;
	}

	.airtrans {
		display: grid;
		grid-template-columns: auto auto auto auto;
		grid-gap: 1px;

		.airtrans__point {
			cursor: pointer;
			background-color: $bgColorInfo;
			text-align: center;
			//padding: 55px 32px 35px 32px;
			padding: 19.874% 11.567% 12.65% 11.567%;
			text-transform: uppercase;
			font-weight: bold;
			@include font-size-info (1.125em, 22px);
			letter-spacing: $letterSpacing;

			.airtrans__img {
				padding-bottom:43px;
			}

			&:hover {
				background-color: $mainColorGold;
			}
		}
	}

/*-------About-company--------*/
.aboutCompany__text {
	@include font-size-info ($fontSize, 23px);
}
	
.cardCompany {
	display: grid;
	grid-template-columns: 33% 33% 33%;

	.card {
		border: 0.25px solid $mainColorGold;
		background-color: #fff;
		display: flex;
	    flex-direction: column;
	    align-items: center;

		.card__img {
			width: 100%;
			height: 100%;
		}

		.card__title {
			font-weight: bold;
			@include font-size-info (4em, normal);
			letter-spacing: $letterSpacing;
			padding-top: 11.45%;
			color: $bgColorBody;
		}

		.card__text {
			color: black;
			@include font-size-info (1.125em, 22px);
			letter-spacing: $letterSpacing;
			padding-bottom: 7.47%;
		}

		.card__minText {
			color: black;
			@include font-size-info (0.75em, 14px);
			padding-bottom: 12.445%;
		}
	}
}
/*------Video-------*/
#video {
	margin: 60px 0px;
	width: 560px;
	height: 350px;
}

/*-------Map--------*/
.map__frame {
	width: 100%;
	height: 450px;
	opacity: 0.5;

	&:hover {
		opacity: 1;
	}
}

/*-------Footer--------*/
.footer {
	max-width: 1110px;
	margin: 0 auto;
	padding: 60px 0px 55px 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	@include font-size-info(0.825em, 16px);
	letter-spacing: $letterSpacing;}

	.footer__info {
		display: flex;
		flex-direction: column;
		color: #f2f2f2;
	}

	.footer__info-opacity {
		opacity: 0.8;
	}

	.footer__info-colorBlack {
		color: $bgColorBody;
	}